<div style="margin:50px" class="roboto-mono-regular">
  <div>
    <h1>Hello, world!</h1>
    <h2>👋 I'm Casey (she/her)</h2>
    <%= image_tag("headshot.jpeg", 
        alt: "headshot photo of Casey", 
        style: "border-radius:50%; width: 30%") %>
    <p>I'm a full stack developer & civic technologist based in Philadelphia</p>
  </div>
  <div class="flex flex-col items-center m-6 border border-solid --color-primary">
    <h1 class="text-xl m-2">let's connect! </h1>
    <div class="flex gap-4">
      <%= link_to "https://www.linkedin.com/in/caseytvaughn/", target: "_blank", rel: "noopener" do %>
        <%= image_tag "InBug-White.png", alt: "LinkedIn", class: "w-9" %>
      <% end %>
      <%= link_to "📧", "mailto:caseytvaughn@gmail.com", class: "text-4xl"%>
    </div>
  </div>
</div>
