/* ...
*= require_self
*= require_tree .
*/

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2 {
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
}

/* fonts */
.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-mono-light {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

