/* color palette #MindfulPalettes № 88 */
:root {
  --color-bg: #142030;
  --color-primary: #FF5C8D;
  --color-accent: #732553;
  --color-secondary: #1E3442;
  --color-text: #85A3B2;
  --color-highlight: #E9D8C8
}